@model Universal.DTO.IDTO.DeclarationIDTO
    
@{
    ViewData["Title"] = "New Declaration";
}


<div class="col-5 bg-light mx-auto rounded-3">
	<div class="form-group">
		@using (Html.BeginForm("AddDeclarations", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<div class="mb-3">
				@Html.HiddenFor(model => model.LanguageID,new { @id = "lang" })
			</div>
			<div class="mb-3">
				@Html.TextBoxFor(model => model.DeclarationName, null, new { @class="form-control", placeholder = "Declaration Name"})
				@Html.ValidationMessageFor(model => model.DeclarationName, null, new { @class="text-danger" })
			</div>
			<div class="mb-3">
				@Html.TextBoxFor(model => model.Model, new { @class="form-control", placeholder = "Model"})
				@Html.ValidationMessageFor(model => model.Model, null, new { @class="text-danger" })
			</div>
			<div class="mb-3">
				@Html.TextBoxFor(model => model.NameAndTypeOfProduct, new { @class="form-control", placeholder = "Name and Type of Product"})
				@Html.ValidationMessageFor(model => model.NameAndTypeOfProduct, null, new { @class="text-danger" })
			</div>
			<div class="mb-3">
				@Html.TextBoxFor(model => model.Distributor, new { @class="form-control", placeholder = "Distributor"})
				@Html.ValidationMessageFor(model => model.Distributor, null, new { @class="text-danger" })
			</div>
			<div class="mb-3">
				@Html.TextBoxFor(model => model.CountryOfOrigin, new { @class="form-control", placeholder = "Country of Origin"})
				@Html.ValidationMessageFor(model => model.CountryOfOrigin, null, new { @class="text-danger" })
			</div>
			<div class="mb-3">
				@Html.TextBoxFor(model => model.ConsumerRights, new { @class="form-control", placeholder = "Consumer Rights"})
				@Html.ValidationMessageFor(model => model.ConsumerRights, null, new { @class="text-danger" })
			</div>
			<div class="mx-auto mb-3 w-50">
				<input type="submit" value="Save" class="form-control p-2 bg-success text-light" />
			</div>
		}
	</div>
</div>

@section Scripts{

	<script>
		$('#lang').val($('#language').val());

		$('#language').change(function() {
			$('#lang').val($(this).val());
		});

	</script>
}
