@model Universal.DTO.ViewDTO.LoginIDTO

@{
    ViewData["Title"] = "Login";
    Layout = "../Shared/Layouts/_LayoutLogin.cshtml";
}

<div class="admin-login-background d-flex align-items-center justify-content-center">
    <div class="form-login">
        <div class="form-group">
            <div class="form-header d-flex flex-row justify-content-between align-items-center pb-3">
                <div class="text-center p-2">
                    <h3 class="login-heading">Login</h3>
                </div>
                <div class="p-2 d-flex justify-content-end">
                    <img class="logo-login" src="\images\Logo.svg" alt="logo" width="80px" />
               </div>
            </div>

            @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
            {
                <div class="mb-3">
                    @Html.Label("Username:")
                    @Html.TextBoxFor(model => model.Email, null, new { @class="form-control", placeholder = "Email"})
                    @Html.ValidationMessageFor(model => model.Email, null, new { @class="text-danger" })
                </div>
                <div class="mb-4">
                    @Html.Label("Password:")
                    @Html.PasswordFor(model => model.Password, new { @class="form-control", placeholder = "Password"})
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class="text-danger" })
                </div>
                <div class="mx-auto mb-3">
                    <input type="submit" value="Log in" class="form-control p-2 btn-dotnet" />
                </div>
            }
        </div>
    </div>
</div>