@model Universal.DTO.IDTO.UserMajstorIDTO

@{
    ViewData["Title"] = "Edit User";
}
<div class="container bg-light w-50">
    <div class="text-center">
        <h2>Edit User</h2>
    </div>
    @Html.ValidationMessage("UserExist")
    @using (Html.BeginForm("EditUserAction", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.UsersId)
         <div class="row">
            <div class="form-group col-6 mb-3">
                @Html.LabelRequiredFor(model => model.RoleId, "Role:", true)
                @Html.DropDownListFor(model => model.RoleId, new List<SelectListItem>
            {
            new SelectListItem() { Text = "Majstor", Value = "1"},
            new SelectListItem() { Text = "Klijent", Value = "2"}
            },
                         "Select Role", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoleId, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-6 mb-3">
                @Html.LabelRequiredFor(model => model.OpstinaIme, "Opstina:", true)
                @Html.TextBoxFor(model => model.OpstinaIme, new { @class = "form-control", placeholder = "Opstina" })
                @Html.ValidationMessageFor(model => model.OpstinaIme, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6 mb-3">
                @Html.LabelRequiredFor(model => model.FullName, "Full name:", true)
                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", placeholder = "Full Name" })
                @Html.ValidationMessageFor(model => model.FullName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-6 mb-3">
                @Html.LabelRequiredFor(model => model.RegistrationDate, "Registration Date:", true)
                @Html.TextBoxFor(model => model.RegistrationDate, new { @class = "form-control", placeholder = "Registration Date" })
                @Html.ValidationMessageFor(model => model.RegistrationDate, null, new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.ReferalCode)
        @Html.HiddenFor(model => model.UserToken)
        @Html.HiddenFor(model => model.IsVisible)
        @Html.HiddenFor(model => model.Professions)
       
        <div class="row">
            <div class="form-group col-6 mb-3">
                @Html.LabelFor(model => model.PhoneNumber, "Phone:")
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Phone" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-6 mb-3">
                @Html.LabelRequiredFor(model => model.Email, "Email:", true)
                @Html.TextBoxFor(model => model.Email, null, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
            </div>
            @* <div class="form-group col-6 mb-3">
                @Html.LabelFor(model => model.Address, "Address:")
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Address" })
                @Html.ValidationMessageFor(model => model.Address, null, new { @class = "text-danger" })
            </div> *@
        </div>
        <div class="row">
             <div class="form-group col-6 mb-3">
                @Html.LabelFor(model => model.UkupanBrOglasa, "Ukupan Broj Oglasa:")
                @Html.TextBoxFor(model => model.UkupanBrOglasa, new { @class = "form-control", placeholder = "UkupanBrOglasa" })
                @Html.ValidationMessageFor(model => model.UkupanBrOglasa, null, new { @class = "text-danger" })
             </div>
            <div class="form-group col-6 mb-3">
                @Html.LabelFor(model => model.TrenutnoAktivniOglasi, "Trenutno Aktivni Oglasi:")
                @Html.TextBoxFor(model => model.TrenutnoAktivniOglasi, new { @class = "form-control", placeholder = "TrenutnoAktivniOglasi" })
                @Html.ValidationMessageFor(model => model.TrenutnoAktivniOglasi, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-3 mb-3">
                @Html.LabelFor(model => model.BrojPostignutihDogovora, "Broj Postignutih Dogovora:")
                @Html.TextBoxFor(model => model.BrojPostignutihDogovora, new { @class = "form-control", placeholder = "BrojPostignutihDogovora" })
                @Html.ValidationMessageFor(model => model.BrojPostignutihDogovora, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-3 mb-3">
                @Html.LabelFor(model => model.BrojNepostignutihDogovora, "Broj Nepostignutih Dogovora:")
                @Html.TextBoxFor(model => model.BrojNepostignutihDogovora, new { @class = "form-control", placeholder = "BrojNepostignutihDogovora" })
                @Html.ValidationMessageFor(model => model.BrojNepostignutihDogovora, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-3 mb-3">
                @Html.LabelFor(model => model.BrojKorisnikaPrekoReferala, "Broj Korisnika Preko Referala:")
                @Html.TextBoxFor(model => model.BrojKorisnikaPrekoReferala, new { @class = "form-control", placeholder = "BrojKorisnikaPrekoReferala" })
                @Html.ValidationMessageFor(model => model.BrojKorisnikaPrekoReferala, null, new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">
            <div class="form-group col-6 mb-3">
                <label>Broj kupljenih paketa:</label>
                <div class="card shadow-sm border rounded-3 p-3">
                    <div class="row text-center">
                        <div class="col">
                            <div class="fw-bold">S</div>
                            <div>@Model.BrojKupljenihPateka.S</div>
                        </div>
                        <div class="col">
                            <div class="fw-bold">M</div>
                            <div>@Model.BrojKupljenihPateka.M</div>
                        </div>
                        <div class="col">
                            <div class="fw-bold">L</div>
                            <div>@Model.BrojKupljenihPateka.L</div>
                        </div>
                        <div class="col">
                            <div class="fw-bold">XL</div>
                            <div>@Model.BrojKupljenihPateka.XL</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="addImageModal" tabindex="-1" aria-labelledby="addImageModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <!-- Use modal-lg class for a larger modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addImageModalLabel">Add New Image</h5>
                    </div>
                    <div class="modal-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab1" id="tab1Link">Add New Image</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab2" id="tab2Link">Gallery</a>
                            </li>
                        </ul>

                        @* <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Tab 1 Content -->
                            <div id="tab1" class="tab-pane active">
                                <div id="addImageForm">
                                    <div class="form-group">
                                        @Html.HiddenFor(model => model.IsImageChanged, new { id = "IsImageChanged" })
                                        <label for="imageName">Choose image</label>
                                        <input type="file" name="Avatar" runat="server" id="file" class="form-control" />
                                        <div class="form-group col-2 mb-3 text-center">
                                            <div class="image-container">
                                                <img src="@Url.Action("GetImage","Dashboard", new {path = Model.Photo})" id="avatar-preview" style="margin-top:10px; border: 2px solid indigo;  width:auto; max-height:200px;">
                                                <a class="unset-button" id="unset" title="Unset Image">x</a>
                                            </div>
                                        </div>
                                        <small id="imageNameError" class="form-text text-danger"></small>
                                    </div>
                                </div>
                            </div>

                            <!-- Tab 2 Content -->
                            <div id="tab2" class="tab-pane">
                                @Html.HiddenFor(model => model.MediaId, new { @id = "input-media" });
                                <div id="tab2-gallery">
                                </div>
                            </div>
                        </div> *@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeImageButton" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-dotnet" id="saveImageButton">Save Image</button>
                    </div>
                </div>
            </div>
        </div>

        @* <div class="row">
            <div class="form-group col-12 mb-3">
                @Html.LabelFor(model => model.Avatar, "Avatar:")
                <button type="button" class="form-control p-2 btn-dotnet" id="openModalButton">Choose Image</button>
            </div>
        </div> *@


        <div class="mx-auto mb-3 w-25">
            <input type="submit" value="Save" class="form-control p-2 btn-dotnet" />
        </div>
    }
</div>



@section Scripts {
    <script id="loadScriptDynamic">
        let loaded = false;
        let IsImgUnset = false;
        let loadFile = function (event) {
            // let image = document.getElementById('avatar-preview');
            // image.src = URL.createObjectURL(event.target.files[0]);
            // let element = document.getElementById('unset');
            // element.classList.add("hover-unset");
            // var hiddenInput = document.getElementById("IsImageChanged");
            // hiddenInput.value = null;

            let image = $('#avatar-preview');
            image.attr('src', URL.createObjectURL(event.target.files[0]));
            let element = $('#unset');
            element.addClass('hover-unset');
            let hiddenInput = $('#IsImageChanged');
            hiddenInput.val(null);
        };

        // let image = document.getElementById('avatar-preview');
        // var parts = image.src.split('/');
        // var result = parts.slice(3).join('/');
        // if (result != "Dashboard/GetImage") {
        //     let element = document.getElementById('unset');
        //     element.classList.add("hover-unset");
        // }

        let image = $('#avatar-preview');
        let parts = image.attr('src').split('/');
        let result = parts.slice(3).join('/');

        if (result != "Dashboard/GetImage") {
            let element = $('#unset');
            element.addClass('hover-unset');
        }

        function unsetImage(event) {
            // let image = document.getElementById('avatar-preview');
            // image.src = '@Url.Action("GetImage", "Dashboard", null)';
            // $("#file").val(null);
            // var hiddenInput = document.getElementById("IsImageChanged");
            // hiddenInput.value = "true";

            let image = $('#avatar-preview');
            image.attr('src', '@Url.Action("GetImage", "Dashboard", null)');

            $("#file").val(null);

            let hiddenInput = $('#IsImageChanged');
            hiddenInput.val("true");
        }

        $('#unset').click(function (event) {
            unsetImage(event);
            $(this).removeClass("hover-unset");//this.classList.remove("hover-unset");
            event.preventDefault();
        });

        $(".unset-button").click(function (e) {
            unsetImage(e);
        });

        $('input[name="Avatar"]').on('change', function (e) {
            loadFile(e);
        });

        const openModalButton = $("#openModalButton"); //document.getElementById("openModalButton");
        const addImageModal = $("#addImageModal"); //document.getElementById("addImageModal");

        openModalButton.addEventListener("click", function () {
            $(addImageModal).modal("show");
        });

        $("#closeImageButton").click(function (event) {
            //unsetImage(event);
            $('#addImageModal').modal('hide');
        });

        function unselectGallery() {
            $(".overlay-checked").find('.fas').toggleClass('disable-icon')
            $(".overlay-checked").removeClass("overlay-checked");
            $("#input-media").val(null);
        }

        $("#tab1Link").addClass("active"); //document.getElementById("tab1Link").classList.add("active");

        // document.getElementById("tab1Link").addEventListener("click", function () {
        //     document.getElementById("tab1Link").classList.add("active");
        //     document.getElementById("tab2Link").classList.remove("active");

        //     document.getElementById("tab1").classList.add("active");
        //     document.getElementById("tab2").classList.remove("active");

        //     unselectGallery();
        // });

        $("#tab1Link").on("click",function(){
            $("#tab1Link").addClass("active");
            $("#tab2Link").removeClass("active");

            $("#tab1").addClass("active");
            $("#tab2").removeClass("active");
        })

        // document.getElementById("tab2Link").addEventListener("click", function (event) {
        //     document.getElementById("tab2Link").classList.add("active");
        //     document.getElementById("tab1Link").classList.remove("active");

        //     document.getElementById("tab2").classList.add("active");
        //     document.getElementById("tab1").classList.remove("active");


        //     if (!loaded) {
        //         let url = '@Url.Action("GalleryGrid", "Dashboard")'
        //         $("#tab2-gallery").load(url, function () {
        //             $(".fa-hand-pointer").click(function () {
        //                 unsetImage(event);
        //                 loaded = true;
        //                 mediaId = this.dataset.mediaId;
        //                 let parentElement = this.parentElement;
        //                 let children = parentElement.getElementsByClassName('fas');

        //                 unselectGallery();

        //                 for (var i = 0; i < children.length; i++) {
        //                     children[i].classList.toggle('disable-icon');
        //                 }

        //                 parentElement.parentElement.classList.add("overlay-checked");
        //             });
        //         });
        //     }
        // });

        $('#tab2Link').on('click', function (event) {
            //event.preventDefault(); ovo mozda bude trebalo

            $('#tab2Link').addClass('active');
            $('#tab1Link').removeClass('active');

            $('#tab2').addClass('active');
            $('#tab1').removeClass('active');

            if (!loaded) {
                let url = '@Url.Action("GalleryGrid", "Dashboard")';
                $('#tab2-gallery').load(url, function () {
                    $('.fa-hand-pointer').on('click', function () {
                        unsetImage(event);
                        loaded = true;
                        mediaId = $(this).data('mediaId');
                        let parentElement = $(this).parent();
                        let children = parentElement.find('.fas');

                        unselectGallery();

                        children.each(function () {
                            $(this).toggleClass('disable-icon');
                        });

                        parentElement.parent().addClass('overlay-checked');
                    });
                });
            }
        });

        let mediaId = null;
        $("#saveImageButton").click(function (event) {
            $("#input-media").val(mediaId);
            if (mediaId != null) {
                $.ajax({
                    type: 'GET',
                    url: '/Dashboard/GetImageFromGallery?mediaId=' + mediaId,
                    contentType: 'application/json',
                    success: function (response) {
                        // let image = document.getElementById('avatar-preview');
                        // image.src = '/Dashboard/GetImage?path=' + response + '';
                        // let element = document.getElementById('unset');
                        // element.classList.add("hover-unset");

                        $('#avatar-preview').attr('src', '/Dashboard/GetImage?path=' + response);
                        $('#unset').addClass('hover-unset');
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }
            $('#addImageModal').modal('hide');
            if (IsImgUnset) {
                IsImgUnset = false;
                // let image = document.getElementById('content-preview');
                // image.src = '@Url.Action("GetImage", "Dashboard", null)';
                $('#content-preview').attr('src', '@Url.Action("GetImage", "Dashboard", null)');
                event.preventDefault();
            }
        });
    </script>
}