@model Universal.DTO.IDTO.UsersIDTO

@{
	ViewData["Title"] = "Edit User";
}
<div class="container bg-light w-50">
	<div class="text-center">
		<h2>Edit User</h2>
	</div>
	@Html.ValidationMessage("UserExist")
	@using (Html.BeginForm("EditUserAction", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.HiddenFor(model => model.UsersId)
		<div class="row">
			<div class="form-group col-6 mb-3">
				@Html.LabelRequiredFor(model => model.Role, "Role:", true)
				@Html.DropDownListFor(model => model.Role, new List<SelectListItem>
			{
			new SelectListItem() { Text = "User", Value = "User"},
			new SelectListItem() { Text = "Admin", Value = "Admin"}
			},
			"Select Role", new { @class="form-control" })
				@Html.ValidationMessageFor(model => model.Role, null, new { @class="text-danger" })
			</div>
			<div class="form-group col-6 mb-3">
				@Html.LabelFor(model => model.UserType, "User type:")
				@Html.DropDownListFor(model => model.UserTypes, new List<SelectListItem>
			{
			new SelectListItem() { Text = "Private", Value = "Private"},
			new SelectListItem() { Text = "Company", Value = "Company"}
			},
			"Select User Type", new { @class="form-control" })
				@Html.ValidationMessageFor(model => model.UserTypes, null, new { @class="text-danger" })
			</div>
		</div>
		<div class="row">
			<div class="form-group col-6 mb-3">
				@Html.LabelRequiredFor(model => model.FirstName, "First name:", true)
				@Html.TextBoxFor(model => model.FirstName, new { @class="form-control", placeholder = "First Name"})
				@Html.ValidationMessageFor(model => model.FirstName, null, new { @class="text-danger" })
			</div>
			<div class="form-group col-6 mb-3">
				@Html.LabelRequiredFor(model => model.LastName, "Last name:", true)
				@Html.TextBoxFor(model => model.LastName, new { @class="form-control", placeholder = "Last Name"})
				@Html.ValidationMessageFor(model => model.LastName, null, new { @class="text-danger" })
			</div>
		</div>
		<div class="form-group col-12 mb-3">
			@Html.LabelRequiredFor(model => model.Email, "Email:", true)
			@Html.TextBoxFor(model => model.Email, null, new { @class="form-control", placeholder = "Email"})
			@Html.ValidationMessageFor(model => model.Email, null, new { @class="text-danger" })
		</div>
		<div class="row">
			<div class="form-group col-6 mb-3">
				@Html.LabelFor(model => model.Phone, "Phone:")
				@Html.TextBoxFor(model => model.Phone, new { @class="form-control", placeholder = "Phone"})
				@Html.ValidationMessageFor(model => model.Phone, null, new { @class="text-danger" })
			</div>
			<div class="form-group col-6 mb-3">
				@Html.LabelFor(model => model.Address, "Address:")
				@Html.TextBoxFor(model => model.Address, new { @class="form-control", placeholder = "Address"})
				@Html.ValidationMessageFor(model => model.Address, null, new { @class="text-danger" })
			</div>
		</div>
		<div class="row">
			<div class="form-group col-5 mb-3">
				@Html.LabelFor(model => model.Country, "Country:")
				@Html.TextBoxFor(model => model.Country, new { @class="form-control", placeholder = "Country"})
				@Html.ValidationMessageFor(model => model.Country, null, new { @class="text-danger" })
			</div>
			<div class="form-group col-5 mb-3">
				@Html.LabelFor(model => model.City, "City:")
				@Html.TextBoxFor(model => model.City, new { @class="form-control", placeholder = "City"})
				@Html.ValidationMessageFor(model => model.City, null, new { @class="text-danger" })
			</div>
			<div class="form-group col-2 mb-3">
				@Html.LabelFor(model => model.Zip, "Zip:")
				@Html.TextBoxFor(model => model.Zip, new { @class="form-control", placeholder = "Zip"})
				@Html.ValidationMessageFor(model => model.Zip, null, new { @class="text-danger" })
			</div>
		</div>

		@Html.HiddenFor(model => model.IsImageChanged, new {id = "IsImageChanged"})
		<div class="row">
			<div class="form-group col-10 mb-3">
				@Html.LabelRequiredFor(model => model.Avatar, "Avatar:", true)
				<input type="file" name="Avatar" runat="server" id="file" class="form-control" onchange="loadFile(event)" />

				@*@Html.ValidationMessageFor(model => model.Avatar, null, new { @class="text-danger" })*@
			</div>
			<div class="form-group col-2 mb-3 text-center">
				<div class="image-container">
					<img src="@Url.Action("GetImage","Dashboard",new {path = Model.Photo})" id="avatar-preview" width="75" height="75" style="border: 2px solid indigo">
					<a class="unset-button" id="unset" onclick="unsetImage()" title="Unset Image">x</a>
				</div>
			</div>
		</div>
		<div class="mx-auto mb-3 w-25">
			<input type="submit" value="Save" class="form-control p-2 btn-dotnet" />
		</div>
	}
</div>

@section Scripts{
	<script>

		let loadFile = function (event) {
			let image = document.getElementById('avatar-preview');
			image.src = URL.createObjectURL(event.target.files[0]);
			let element = document.getElementById('unset');
			element.classList.add("hover-unset");

		};

		$(document).ready(function(){

			let image = document.getElementById('avatar-preview');
			var parts = image.src.split('/');
			var result = parts.slice(3).join('/');
			if (result != "Dashboard/GetImage") {
				let element = document.getElementById('unset');
				element.classList.add("hover-unset");
			}
		});

		function unsetImage(event) {
			let image = document.getElementById('avatar-preview');
			image.src = '@Url.Action("GetImage","Dashboard",null)';
			$("#file").val(null);
			var hiddenInput = document.getElementById("IsImageChanged");
			hiddenInput.value = "true";

			let element = document.getElementById('unset');
			element.classList.remove("hover-unset");
			event.preventDefault();
		}
	</script>
}