@model Universal.DTO.IDTO.TagIDTO

@{
	ViewData["Title"] = "New Tag";
}

<div class="container bg-light w-50">
	<div class="text-center">
		<h2>Add Tag</h2>
	</div>
	@using (Html.BeginForm("AddTags", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div class="form-group mb-3">
			@Html.HiddenFor(model => model.LanguageID,new { @id = "lang" })
		</div>
		<div class="form-group mb-3">
			@Html.LabelFor(model => model.Title, "Tag title:")
			@Html.TextBoxFor(model => model.Title, null, new { @class="form-control", placeholder = "Title"})
			@Html.ValidationMessageFor(model => model.Title, null, new { @class="text-danger" })
		</div>
		<div class="from-group mb-3">
			@Html.LabelFor(model => model.Description, "Tag description:")
			@Html.TextBoxFor(model => model.Description, new { @class="form-control", placeholder = "Description"})
			@Html.ValidationMessageFor(model => model.Description, null, new { @class="text-danger" })
		</div>

		<div class="row">
			<div class="form-group col-10 mb-3">
				@Html.LabelRequiredFor(model => model.TagImage, "Image:", true)
				<input type="file" name="TagImage" runat="server" class="form-control" onchange="loadFile(event)" />
			</div>
			<div class="form-group col-2 mb-3 text-center">
				<img id="tag-preview" width="75" height="75" style="border: 2px solid indigo">
			</div>
		</div>

		<div class="mx-auto mb-3 w-50">
			<input type="submit" value="Save" class="form-control p-2 btn-dotnet" />
		</div>
	}
</div>

@section Scripts{
	<script>
		let loadFile = function (event) {
			let image = document.getElementById('tag-preview');
			image.src = URL.createObjectURL(event.target.files[0]);
		};


		$('#lang').val($('#language').val());

		$('#language').change(function () {
			$('#lang').val($(this).val());
		});
	</script>
	}