<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Universal</title>
	@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Universal.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href=" https://cdn.jsdelivr.net/npm/bootstrap-multiselect@1.1.0/dist/css/bootstrap-multiselect.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<link href=" https://cdn.jsdelivr.net/npm/bootstrap-switch@3.4.0/dist/css/bootstrap3/bootstrap-switch.min.css " rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	<style>
		.toast-close {
			color: black !important;
		}

		.active {
			color: white;
		}

		.dropdown-container {
			display: none;
			background-color: rebeccapurple;
			font-size: 14px;
		}

		.fa-caret-down {
			float: right;
			padding-right: 8px;
		}
	</style>
	<script>
		tinymce.init({
			selector: 'textarea#tiny',
			plugins: [
				'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
				'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
				'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
			],
			toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
				'bullist numlist checklist outdent indent | removeformat | code table help',
			height: 500
		})
	</script>
</head>
<body>
	<div class="container m-0 p-0">
		<header class="bg-dark header-navigation">
			<div class="d-flex flex-row justify-content-between align-items-center" style="height:inherit">
				<a href="/Dashboard"><img src="~/images/logo_2_2.svg" width="35" height="35" style="margin-left:15px" /></a>
				<div class="d-flex flex-row h-75">
					@Html.DropDownList("language", new List<SelectListItem>
					{
					new SelectListItem() { Text = "English", Value = "1"},
					new SelectListItem() { Text = "Serbian", Value = "2"}
					}, new { @class="form-control" })
					@Html.ActionLink("Log Out", "Logout", "Authentication", null, new { @class = "btn btn-secondary", style = "margin-right:15px; font-size: 12px;" })
				</div>
			</div>
		</header>
		<aside class="side-navigation">
			<ul class="navbar-nav side-list sidenav">
				<li class="nav-item dropdown-btn">
					<span class="side-anchor">
						<i class="fa fa-user icon-spacing"></i>
						Users
						<i class="fa fa-caret-down"></i>
					</span>
					<ul class="navbar-nav dropdown-container">
						<li>
							@Html.ActionLink("All Users", "AllUsers", "Dashboard", null, new{ @class = "side-anchor" })
							@Html.ActionLink("New Users", "NewUser", "Dashboard", null, new{ @class = "side-anchor" })
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown-btn">
					<span class="side-anchor">
						<i class="fa fa-file-lines icon-spacing"></i>
						Data
						<i class="fa fa-caret-down"></i>
					</span>
					<ul class="navbar-nav dropdown-container">
						<li>
							@Html.ActionLink("All Data", "AllData", "Dashboard", null, new{ @class = "side-anchor" })
							@Html.ActionLink("New Data", "NewData", "Dashboard", null, new{ @class = "side-anchor" })
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown-btn">
					<span class="side-anchor">
						<i class="fa fa-table-list icon-spacing"></i>
						Categories
						<i class="fa fa-caret-down"></i>
					</span>
					<ul class="navbar-nav dropdown-container">
						<li>
							@*TODO Promeniti lang da ide iz sesije*@
							@Html.ActionLink("Category Tree", "AllCategories", "Dashboard",null, new{ @class = "side-anchor" })
							@Html.ActionLink("Attributes", "AllAttributes", "Dashboard", null, new{ @class = "side-anchor" })
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown-btn">
					<span class="side-anchor ">
						<i class="fa-solid fa-certificate icon-spacing"></i>
						Declarations
						<i class="fa fa-caret-down"></i>
					</span>
					<ul class="navbar-nav dropdown-container">
						<li>
							@Html.ActionLink("All Declaration", "AllDeclaration", "Dashboard", null, new{ @class = "side-anchor" })
							@Html.ActionLink("New Declaration", "NewDeclaration", "Dashboard", null, new{ @class = "side-anchor" })
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown-btn">
					<span class="side-anchor ">
						<i class="fa-solid fa-folder-open icon-spacing"></i>
						Media
						<i class="fa fa-caret-down"></i>
					</span>
					<ul class="navbar-nav dropdown-container">
						<li>
							@Html.ActionLink("Gallery", "AllGallery", "Dashboard", null, new{ @class = "side-anchor" })
							@Html.ActionLink("New Media", "AddMedia", "Dashboard", null, new{ @class = "side-anchor" })
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown-btn">
					<span class="side-anchor ">
						<i class="fa fa-copy icon-spacing"></i>
						Blogs
						<i class="fa fa-caret-down"></i>
					</span>
					<ul class="navbar-nav dropdown-container">
						<li>
							@Html.ActionLink("Blogs", "AllSiteContent", "Dashboard", new {type = "Blog"}, new{ @class = "side-anchor" })
							@Html.ActionLink("All Tags", "AllTags", "Dashboard",null, new{ @class = "side-anchor" })
							@Html.ActionLink("Tag", "NewTag", "Dashboard",null, new{ @class = "side-anchor" })
						</li>
					</ul>
				</li>
				<li class="nav-item">@Html.ActionLinkIcon("Pages", "AllSiteContent", "Dashboard", "fa-newspaper", new {type = "Page", langid=1}, new{ @class = "side-anchor" })</li>
				<li class="nav-item">@Html.ActionLinkIcon("Orders", "AllOrders", "Dashboard", "fa-box-open", null, new{ @class = "side-anchor" })</li>
				<li class="nav-item">@Html.ActionLinkIcon("Invoice", "AllInvoices", "Dashboard", "fa-solid fa-file-pdf", null, new{ @class = "side-anchor" })</li>
				<li class="nav-item">@Html.ActionLinkIcon("Import", "ImportExc", "Dashboard", "fa-solid fa-file-import", null, new{ @class = "side-anchor" })</li>
				
			</ul>
		</aside>
		<div class="content-wrapper bg-light">
			<main role="main" class="content-offset">
				<div class="loading-backdrop loading-inactive">
					<div class="loading-container">
						<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 500 500" fill="none">
							<g id="Loading">
								<circle id="Dot" cx="250" cy="250" r="50" fill="#4B0082" />
								<path id="D" d="M250 500C282.83 500 315.339 493.534 345.671 480.97C376.002 468.406 403.562 449.991 426.777 426.777C449.991 403.562 468.406 376.002 480.97 345.671C493.534 315.339 500 282.83 500 250C500 217.17 493.534 184.661 480.97 154.329C468.406 123.998 449.991 96.4379 426.777 73.2233C403.562 50.0086 376.002 31.5938 345.671 19.0301C315.339 6.46644 282.83 -2.87013e-06 250 0L250 87.5C271.34 87.5 292.471 91.7032 312.186 99.8696C331.901 108.036 349.815 120.006 364.905 135.095C379.994 150.185 391.964 168.099 400.13 187.814C408.297 207.529 412.5 228.66 412.5 250C412.5 271.34 408.297 292.471 400.13 312.186C391.964 331.901 379.994 349.815 364.905 364.905C349.815 379.994 331.901 391.964 312.186 400.13C292.471 408.297 271.34 412.5 250 412.5V500Z" fill="#D9D9D9" />
								<path id="o" d="M250 100C230.302 100 210.796 103.88 192.597 111.418C174.399 118.957 157.863 130.005 143.934 143.934C130.005 157.863 118.956 174.399 111.418 192.598C103.88 210.797 100 230.302 100 250C100 269.699 103.88 289.204 111.418 307.403C118.956 325.602 130.005 342.137 143.934 356.066C157.863 369.995 174.399 381.044 192.597 388.582C210.796 396.12 230.302 400 250 400L250 347.5C237.196 347.5 224.518 344.978 212.688 340.079C200.859 335.179 190.111 327.997 181.057 318.943C172.003 309.889 164.822 299.141 159.922 287.312C155.022 275.483 152.5 262.804 152.5 250C152.5 237.196 155.022 224.518 159.922 212.689C164.822 200.859 172.003 190.111 181.057 181.057C190.111 172.004 200.859 164.822 212.688 159.922C224.518 155.022 237.196 152.5 250 152.5V100Z" fill="#D9D9D9" />
							</g>
						</svg>
					</div>
				</div>
				@RenderBody()
			</main>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
	@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-multiselect@1.1.0/dist/js/bootstrap-multiselect.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script>
		function showToast(text, type) {
			let styleBg = '#2e844a';
			let styleColor = 'white';
			switch (type) {
				case "success": styleBg = '#2e844a'; break;
				case "error": styleBg = '#ea001e'; break;
				case "info": styleBg = '#747474'; break;
				case "warning": styleBg = '#dd7a01'; styleColor = 'black'; break;
			}

			Toastify({
				text: text,
				duration: 3000,
				close: true,
				gravity: "top", // `top` or `bottom`
				position: "center", // `left`, `center` or `right`
				stopOnFocus: true, // Prevents dismissing of toast on hover
				style: {
					background: styleBg,
					color: styleColor
				},
				onClick: function () { } // Callback after click
			}).showToast();
		}

		let toggleLoading = function () {
			$(".loading-backdrop").toggleClass("loading-inactive loading-active");
		}

		$(document).ready(function () {
			let toastMessage = '@ViewBag.ToastMessage';
			let toastType = '@ViewBag.ToastType';
			if (toastMessage !== '') {
				showToast(toastMessage, toastType == '' ? 'success' : toastType);
			}

			var dropdown = document.getElementsByClassName("dropdown-btn");
			var i;

			for (i = 0; i < dropdown.length; i++) {
				dropdown[i].addEventListener("click", function () {
					this.classList.toggle("active");
					var dropdownContent = this.querySelector(".dropdown-container");
					if (dropdownContent.style.display === "block") {
						dropdownContent.style.display = "none";
					} else {
						dropdownContent.style.display = "block";
					}
				});
			}
		})


	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>