@model List<Universal.DTO.ODTO.TokensODTO>

<h2>Credit Packages</h2>

<table class="table table-bordered text-center">
    <thead class="table-light">
        <tr>
            <th>TokenId</th>
            <th>Number Of Token</th>
            <th>Price</th>
            <th>Package</th>
            <th>Description</th>
            <th>Old Price</th>
            <th>Recommended</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var token in Model)
        {
            <tr>
                <td>@token.TokenId</td>
                <td>
                    <input type="number" class="form-control number-of-token-input" value="@token.NumberOfToken" data-id="@token.TokenId" />
                </td>
                <td>
                    <input type="number" step="0.01" class="form-control price-input" value="@token.Price" data-id="@token.TokenId" />
                </td>
                <td>
                    <input type="text" class="form-control package-input" value="@token.Package" data-id="@token.TokenId" />
                </td>
                <td>
                    <textarea class="form-control description-input" rows="2" data-id="@token.TokenId">@token.Description</textarea>
                </td>
                <td>
                    <input type="number" step="0.01" class="form-control oldprice-input" value="@token.OldPrice" data-id="@token.TokenId" />
                </td>
                <td>
                    <input type="checkbox" class="form-check-input is-recommended-input" data-id="@token.TokenId" @(token.IsRecommended ? "checked" : "") />
                </td>
                <td>
                    <button class="btn btn-primary save-token" data-id="@token.TokenId">Save</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(".save-token").click(function () {
            var $row = $(this).closest("tr");
            var id = $(this).data("id");
            var numberOfToken = $row.find('.number-of-token-input').val();
            var price = $row.find('.price-input').val();
            var packageName = $row.find('.package-input').val();
            var description = $row.find('.description-input').val();
            var oldPrice = $row.find('.oldprice-input').val();
            var isRecommended = $row.find('.is-recommended-input').is(':checked');

            $.post('/Dashboard/UpdateToken', {
                tokenId: id,
                numberOfToken: numberOfToken,
                price: price,
                packageName: packageName,
                description: description,
                oldPrice: oldPrice,
                isRecommended: isRecommended
            }, function (response) {
                if (response.success) {
                    alert('Token updated successfully!');
                }
                else {
                    alert('Failed to update token');
                }
            });
        });
    </script>
}
